# Ignore Visual Studio Code settings
.vscode/

# Ignore HTML folder
html

# Ignore logs and temporay files
*.log
*.temp

# Ignore vendor folder
/vendor/

# Ignore cache folder
.cache/*

# Ignore .env
.env

# Ignore files and folders inside uploads but keep it
/public/assets/uploads/*
!/public/assets/uploads/.gitkeep
