parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    - '#Call to an undefined method ReflectionType::getName\(\).#'
    - '#Access to protected property App\\Models\\User::\$password.#'
